
/* .background {
    background-image: url("https://assets.weforum.org/article/image/large_KwvRfX8RsCkrYqNz9j_1K3taMNrvyIZbHJ1YSqPmHzc.jpg"); 
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    }

 .what-happened{
    align-items: center;
 } */
